package ${package}.modules.${moduleName}.dao;

import ${package}.common.dao.BaseDao;
import ${package}.modules.${moduleName}.entity.${className}Entity;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {
	
}