package ${package}.dao;

import ${package}.entity.${className}Entity;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {
	
}
