<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
	
	<import resource="classpath:spring-mvc.xml"/>
	<import resource="classpath:spring-jdbc.xml"/>
	<import resource="classpath:spring-shiro.xml"/>
	<import resource="classpath:spring-scheduler.xml"/>
	
	<!-- <import resource="classpath:spring-redis.xml"/> -->
</beans>