<!DOCTYPE html>
<html>
<head>
<title>定时任务日志</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.jobId" @keyup.enter="query" placeholder="任务ID">
		</div>
		<a class="btn btn-default" @click="query">查询</a>
		&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="${request.contextPath}/statics/js/modules/job/schedule_log.js?_${.now?long}"></script>
</body>
</html>